<a href="https://colab.research.google.com/github/LeonardGene/Introduction-to-Information-Technology/blob/4100E238/python102021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Summation**

In [ ]:
def sum(a1, a2, a3):
    result = 0
    for a in range(a1, a2, a3):
        result += a
    return result

def main():
    print("Sum1", sum(10, 60, 10)) 
    print("Sum2", sum(20, 220, 20))
    print("Sum3", sum(30, 330, 30))

main() # Call the main function

Sum1 150
Sum2 1100
Sum3 1650

In [ ]:
10+20+30+40+50

150

In [ ]:
20+40+60+80+100+120+140+160+180+200

1100

In [ ]:
30+60+90+120+150+180+210+240+270+300

1650

# **Swap**

In [ ]:
def swap(c,d):
  c,d = d,c
  return (c,d)

if __name__ == '__main__':
    c = 10
    d = 20
    print('c = %d,d = %d' % (c,d))
    c,d = swap(c,d)
    print('c = %d,d = %d' % (c,d))

c = 10,d = 20
c = 20,d = 10

# **From Small to Large**

In [ ]:
def sort(numberA, numberB, numberC):
    if numberA < numberB < numberC:
      return numberA, numberB, numberC
    else:
      return numberC, numberB, numberA
    
numA, numB, numC = sort(8, 27, 2002)

print("num1 is", numA)
print("numb2 is", numB)
print("num3 is", numC)

num1 is 8
numb2 is 27
num3 is 2002

# **From Large to Small**

In [3]:
def sort(number1, number2, number3):
  if (number1 < number2) and (number1 < number3):
    if number2 < number3:
      return number1, number2, number3
    else:
      return number1, number3, number2
  if (number2 < number1) and (number2 < number3):
    if number1 < number3:
      return number2, number1, number3
    else:
      return number2, number3, number1
  if (number3 < number1) and (number3 < number2):
    if number1 < number2:
      return number3, number1, number2
    else: 
      return number3, number2, number1

num1, num2, num3 = sort(10,20,30)

print("num1 is", num1)
print("num2 is", num2)
print("num3 is", num3)

num1 is 10
num2 is 20
num3 is 30

# **Area**

In [9]:
def printArea(width = 8.27, height = 20.02):
  area = width * height
  print("width:", width, "\theight:", height, "\tarea:", area)

In [10]:
8.27*20.02

165.56539999999998

# **Use Default Arguments**

In [11]:
printArea()

width: 8.27 	height: 20.02 	area: 165.56539999999998

# **Use Keyboard Arguments**

In [12]:
printArea(width = 20, height = 10)

width: 20 	height: 10 	area: 200

In [13]:
printArea(height = 10, width = 20)

width: 20 	height: 10 	area: 200

# **Use Positional Arguments**

In [14]:
printArea(30,40)

width: 30 	height: 40 	area: 1200

In [15]:
printArea(40,30)

width: 40 	height: 30 	area: 1200

# **Lambda**

In [17]:
f4 = lambda x, y, z: x+2*y+4*z
print(f4(1,2,3))

17

# **Power of Lambda**

In [18]:
def myfunc(a):
  return a*a

my_list = [3, 6, 9, -12, -15]

print(list(map(lambda x:myfunc(x), my_list)))

[9, 36, 81, 144, 225]